body{
    background-color: aliceblue;
}

#container{
    margin: 30px auto;
    background-color: rgb(32, 6, 37);
    display:flex;
    flex-direction: column;    
    justify-content: center;
    border: solid rgb(255, 0, 234) 10px;
    border-bottom-color: rgb(156, 0, 143);
    border-right-color: rgb(156, 0, 143);
    border-radius: 5%;
    width: 250px;
}

#result{
    color:rgb(255, 255, 255);
    background-color: rgb(255, 0, 221);
    font-size: 50px;
    border: solid rgb(255, 255, 255) 2px;
    display:flex;
    flex-direction: row;
    justify-content: right;
    height: 100px;
    padding: 0 10px 0 0;
    align-items: center;
    margin: 15px 24px 10px 24px;
}

#numbers{
    margin: 0 auto 15px auto;
    display:flex;
    flex-direction: column;
    border: 1px solid rgb(255, 255, 255);
    width: 200px;
    justify-content: center;
}

#rowOne{
    display:flex;
    flex-direction: row;
}

#rowTwo{
    display:flex;
    flex-direction: row;
}

#rowThree{
    display:flex;
    flex-direction: row;
}

#rowFour{
    display:flex;
    flex-direction: row;    
}

#rowFive{
    display:flex;
    flex-direction: row;
}

#zero{
    width: 52%
}

#period{
    width: 25%;
}

#equal{
    width: 25%;
}

.button{
    display: flex;
    background-color: rgb(43, 6, 68);
    color: white;
    border: 1px solid white;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    
}

.button:hover{
    background-color: rgb(82, 21, 122);
}

.button:active{
    background-color: rgb(250, 242, 255);

}

#posNeg{
    background-color: rgb(182, 7, 252);
}

#posNeg:hover{
    background-color: rgb(182, 7, 252);
}

#posNeg:active{
    background-color: rgb(182, 7, 252);

}

#percent{
    background-color: rgb(182, 7, 252);
}

#percent:hover{
    background-color: rgb(182, 7, 252);
}

#percent:active{
    background-color: rgb(182, 7, 252);
}

.oper{
        color:aliceblue;
        display: flex;
        background-color: rgb(182, 7, 252);
        border: 1px solid white;
        height: 50px;
        width: 50px;
        justify-content: center;
        align-items: center;
}

.oper:hover{
    background-color: rgb(220, 132, 255);

}

.oper:active{
    background-color: rgb(250, 242, 255);
}